[defaults]
collections_path = ./.ansible/collections
collections_scan_sys_path = false
local_tmp = ./.ansible/tmp
remote_tmp = ~/.local/share/sohyeon-cicd/ansible-tmp

[galaxy]
cache_dir = ./.ansible/galaxy_cache

token_path = ./.ansible/galaxy_token
